*{
    box-sizing: border-box;
}

body {
    background-color: hsl(0,0%,20%);
}

h1 {
    text-align: center;
    color: hsl(50, 60%, 60%);
}

span.subtitle{
    display: block;
    font-size: 20px;
    color: hsl(50, 60%, 80%);
}

.content, .decor-border, .recipe-list {
    text-align: center;
    padding: 15px;
    border-radius: 10px;
}

.content {
    background-color: hsl(0,0%,80%);
    margin: 0px auto;
    width: 60%;
}

.decor-border{
    background-color: hsl(0,0%,90%);
    border: hsl(120, 40%, 60%) 5px solid;
}

.recipe-list{
    text-align: left;
    padding: 10px 25px;
    background-color: hsl(50, 60%, 70%);
}

.recipe-list li{
    border-bottom: black 1px dashed;
}