*{
    box-sizing: border-box;
}

html{
    /* using browser default font-size for root element, 
    as it allows font-size-based accessibility user settings to remain effective.
    (otherwise it is overriden if you set a value here) */
}

body {
    margin: 0;    
    background-image: linear-gradient(45deg, hsl(120, 30%, 20%), hsl(120, 38%, 40%));
    /*
    background-image: url(../img/index-bg-2.avif);
    background-size: cover;
    */
}

h1 {
    margin: 5rem 0 1.7rem 0;
    font-size: 3.5rem;
    text-align: center;
    color: hsl(50, 60%, 60%);
}

#hamburger-menu{
    z-index: 98;
    color: hsl(0,0%, 50%);
    padding: 4rem 0rem 1rem 0rem;
    position: fixed;
    left: -200px;
    background-color: hsl(0, 0%, 10%);
    width: 200px;
    height: 100%;
    transition: 0.8s;
}

#hamburger-menu ul{
    padding-left: 0px;
}
#hamburger-menu li{
    list-style-type: none;
    width: 100%;
    list-style-position: inside;
    padding: 1rem;
    transition: 0.3s;
}
#hamburger-menu li:hover{
    background-color: hsl(0, 0%, 30%);
}

.boigah {
    flex: none;
    padding: 1rem;
    width: 3.5rem;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: 0.3s;
}

.boigah.open{
    background-color: hsl(0, 0%, 25%);
}

.boigah hr{
    margin: 4px;
}

.boigah:hover {
    background-color: hsl(0, 0%, 25%);
}

.boigah .top, .boigah .bot{
    position: relative;
}

.boigah.open .top{
    animation: topAnim_open 0.8s forwards;
}
.boigah.open .mid{
    animation: midAnim_open 0.8s forwards;
}
.boigah.open .bot{
    animation: botAnim_open 0.8s forwards;
}

.boigah.close .top{
    animation: topAnim_close 0.8s forwards;
}
.boigah.close .mid{
    animation: midAnim_close 0.8s forwards;
}
.boigah.close .bot{
    animation: botAnim_close 0.8s forwards;
}

@keyframes topAnim_open{
    0%{
        rotate: 0deg;
        top: 0;
        width: 1.5rem;
    }
    50%{
        rotate: 0deg;
        top: 0.6rem;
        width: 1.5rem;
    }
    100%{
        rotate: -45deg;
        top: 0.6rem;
        width: 1.5rem;
    }
}
@keyframes topAnim_close{
    0%{
        rotate: -45deg;
        top: 0.6rem;
        width: 1.5rem;
    }
    30%{
        rotate: -45deg;
        top: 0.6rem;
        width: 0.1rem;
    }
    60%{
        rotate: 0deg;
        top: 0rem;
        width: 0.1rem;
    }
    100%{
        rotate: 0deg;
        top: 0rem;
        width: 1.5rem;
    }
}


@keyframes midAnim_open{
    0%{
        width: 1.5rem;
    }
    50%{
        width: 1.5rem;
    }
    100%{
        width: 0.1rem;
    }
}
@keyframes midAnim_close{
    0%{
        width: 0.1rem;
    }
    60%{
        width: 0.1rem;
    }
    100%{
        width: 1.5rem;
    }
}


@keyframes botAnim_open{
    0%{
        rotate: 0deg;
        top: 0;
        width: 1.5rem;
    }
    50%{
        rotate: 0deg;
        top: -0.6rem;
        width: 1.5rem;
    }
    100%{
        rotate: 45deg;
        top: -0.6rem;
        width: 1.5rem;
    }
}
@keyframes botAnim_close{
    0%{
        rotate: 45deg;
        top: -0.6rem;
        width: 1.5rem;
    }
    30%{
        rotate: 45deg;
        top: -0.6rem;
        width: 0.1rem;
    }
    60%{
        rotate: 0deg;
        top: 0rem;
        width: 0.1rem;
    }
    100%{
        rotate: 0deg;
        top: 0rem;
        width: 1.5rem;
    }
}


#top-panel{
    height: 5rem;
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;

    z-index: 99;
    position: fixed;
    background-color: hsl(0,0%,10%);
}

#top-panel .search-bar{
    flex: initial;
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.search-bar input[type=text]{
    flex: auto;
    width: 90%;
    min-width: 5rem;

    padding: 0.5rem 2.5rem 0.5rem 1rem;
    color: hsl(50, 100%, 66%);
    background-color: hsl(0,0%,20%);
    border: 2px hsl(0,0%,40%) solid;
    border-radius: 1.5rem;
    caret-color: hsl(0,0%,40%);
}

.search-bar input[type=text]:focus {
    outline:2px hsl(50, 60%, 60%) solid;
}

.search-bar button{
    flex: auto;
    height: 18px;
    width: 18px;
    margin-left: -2.5rem;

    border: none;
    background-color: transparent;
    background-image: url(../img/search-icon.png);
    background-size: 15px 15px;
    background-position: center;
    background-repeat: no-repeat;
}

#top-panel button:hover{
    background-image: url(../img/search-icon-hover.png);
    background-size: 18px 18px;
    transition: 0.3s;
}

#top-panel .buffer-left{
    flex: 1 1 0;
}
#top-panel .logo{
    flex: none;
}
#top-panel .buffer-right{
    flex: 1 1 8.5rem;
}

#profile {
    flex: initial;
    width: 15rem;
    min-width: 7rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    gap: 1em;
    
    padding: 0 1rem;
    color: hsl(0,0%,80%);
    background-color: hsl(0,0%,30%);
}


#profile:hover {
    background-color: hsl(120, 22%, 30%);
    transition: 0.5s;
}

span.subtitle{
    display: block;
    font-size: 1.9rem;
    color: hsl(50, 60%, 80%);
}

span.subtitle::before, span.subtitle::after{
    margin: 0 2.3rem;
    display: inline-block;
    width:15%;
    height: 10px;
    content: "";
    border-top: 0.2rem hsl(50, 60%, 80%) solid;
}


.focus-pane {
    margin: 0 auto;
    width: 60%;
    min-width: 46.9rem;
    max-width: 60.9rem;
    height: 100%;
    min-height: 100vh;
    background-color: hsl(0,0%,20%);
    box-shadow: 0 0 10px 2px;
    padding: 0.5rem 2.3rem;
    background-image: url(../img/stone-bg.jpg);
    background-size: auto;
    border-left: hsl(51, 61%, 45%) 5px groove;
    border-right: hsl(51, 61%, 45%) 5px groove;
}

.focus-pane #point-ref-1{
    position: relative;
    top:-80px;
    left: -370px;
}
.focus-pane #point-ref-2{
    position: relative;
    top:-90px;
    left: 230px;
}

#point-ref-1 img{
    position: absolute;
    rotate: -30deg;
}

#point-ref-2 img{
    position: absolute;
    rotate: -30deg;
}


.content, .decor-border, .recipe-list {
    text-align: center;
    padding: 1.4rem;
    border-radius: 10px;
}

.content {
    background-color: hsl(0,0%,80%);
    margin: 0px auto;
    width: 40%;
    min-width: 35.2rem;
}

.decor-border{
    box-shadow: 0 4px 5px 2px hsla(0, 0%, 0%, 30%);
    font-size: 1.2rem;
    background-color: hsl(0,0%,90%);
    border: hsl(120, 40%, 60%) 5px solid;
    word-wrap: break-word;
}

.decor-border p{
    margin: 0rem;
}

.recipe-list{
    text-align: left;
    padding: 10px 15px;
    background-color: hsl(120, 50%, 70%);
}

.recipe-list hr{
    margin:3px 0;
    border-color: hsl(0,0%,90%);
}


.recipe-list li {
    list-style-position: inside;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
    text-align: left;
    transition: 0.3s;
}

.recipe-list.selectable li:hover {
    background-color: hsl(50, 60%, 60%);
    box-shadow: 0 4px 5px 2px hsla(0, 0%, 0%, 30%);
}

.recipe-list span{
    float: right;
}